<div>
    <h2>Image Picker used normally</h2>
    <app-bm-image-picker
        [(selectedImages)]="selectedImagesDirect"
        [allImages]="allImages"
        (selectedImagesChange)="selectedImagesChange('direct', $event)"
    ></app-bm-image-picker>

    Images Direct: {{ selectedImagesDirect.join(', ') }}
</div>

<div>
    <h2>Image Picker Control with ngModel</h2>
    <app-bm-image-picker-control
        [(ngModel)]="selectedImagesModel"
        [allImages]="allImages"
        (ngModelChange)="selectedImagesChange('model', $event)"
    ></app-bm-image-picker-control>

    Images Model: {{ selectedImagesModel.join(', ') }}
</div>

<div [formGroup]="form">
    <h2>Image Picker Control with FormControl</h2>
    <app-bm-image-picker-control
        formControlName="images"
        [allImages]="allImages"
    ></app-bm-image-picker-control>

    Images Control: {{ form.get('images').value.join(', ') }}
</div>